<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/geo-location/geo-location.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="shared-styles.html">

<dom-module id="event-detail">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map {
        height: 300px;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


  <iron-ajax
    id="newTran"
    method="post"
    url="http://127.0.0.1:3001/jagpapi/v1/events/[[iban]]/accounts"
    content-type="application/json"
    loading="{{cargando_tran}}"
    handle-as="text"
    on-response="handlenewTranResponse"
    on-error="handlenewTranError">
  </iron-ajax>


<iron-ajax
        id="getevents"
        method="get"
        url="http://127.0.0.1:3001/jagpapi/v1/events/[[iban]]/accounts"
        handle-as="json"
        on-response="showData"
        on-error="showError">

</iron-ajax>

<iron-ajax
        id="getbalance"
        method="get"
        url="http://127.0.0.1:3001/jagpapi/v1/balance/[[iban]]/accounts"
        handle-as="json"
        on-response="showBalance"
        on-error="showErrorBalance">

</iron-ajax>


<app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
</app-route>



    <div hidden$="[[!storedUser.loggedin]]">
      <div hidden$="[[cargando]]">
        <div class="card">
          <h1>IBAN {{iban}} - Balance {{balance}}</h1>
          <h2> Movimientos </h2>




              <!-- <template is="dom-repeat" items="{{transactions}}">
                Importe: {{item.tran}} - Fecha: {{item.date}} - Coordenadas {{item.latitude}} - {{item.longitude}} <br>
              </template> -->


              <vaadin-grid theme="row-stripes" items="[[transactions]]" column-reordering-allowed multi-sort>

                <!-- <vaadin-grid-selection-column auto-select frozen> </vaadin-grid-selection-column> -->

              <vaadin-grid-column>
               <template class="header">
                 <vaadin-grid-sorter path="tran">Importe</vaadin-grid-sorter>
               </template>
               <template>[[item.tran]]€</template>
             </vaadin-grid-column>

             <vaadin-grid-column width="9em">
              <template class="header">
                <vaadin-grid-sorter path="date">Fecha</vaadin-grid-sorter>
              </template>
              <template>[[item.date]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column width="9em">
             <template class="header">
               <vaadin-grid-sorter path="date">Observaciones</vaadin-grid-sorter>
             </template>
             <template>[[item.obser]]</template>
           </vaadin-grid-column>



            </vaadin-grid>




        </div>

        <div class="card">
          <h1> Mapa de movimientos </h1>
          <google-map latitude="{{latitude}}" longitude="{{longitude}}" disableDefaultUI fitToMarkers api-key="AIzaSyDKWaWoofZVKhLLFdv_MDeQNkf4CXwEPyI">
            <template is="dom-repeat" items="{{transactions}}">
               <google-map-marker  latitude="{{item.latitude}}" longitude="{{item.longitude}}">
               </google-map-marker>
            </template>
          </google-map>





        </div>
        <div class="card">
          <h1> Nuevos movimientos </h1>




          <geo-location latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>






    <label slot="input"> Importe</label>

    <iron-input bind-value="{{formData.tran}}">
      <paper-input id="tran" type="number" value=0></paper-input>
    </iron-input>

    <label slot="input"> Observaciones</label>

    <iron-input bind-value="{{formData.obser}}">
      <paper-input id="obser" type="text"></paper-input>
    </iron-input>


    <input  id="latitude" type="hidden" value="[[latitude]]">

    <input id="longitude" type="hidden" value="[[longitude]]">



  <div class="wrapper-btns">
    <paper-button id="ingreso" raised class="primary" on-click="newTran">Ingreso</paper-button>
    <paper-button id="retirada" raised class="primary" on-click="newTran">Retirada</paper-button>
    <paper-spinner alt="Cargando detalles..." active="[[cargando_tran]]"></paper-spinner>
  </div>







        </div>
      </div>
    </div>
    <div hidden$="[[storedUser.loggedin]]">
      <p>Debes estar <a href="/register-login">logado</a>para ver tus movimientos</p>
    </div>

    <paper-spinner alt="Cargando detalles..." active="[[cargando]]"></paper-spinner>
  </template>

  <script>
    class EventDetail extends Polymer.Element {
        static get is() { return 'event-detail'; }

        static get properties() {
            return {
              visible: {
                type: Boolean,
                observer: '_visibleChanged'
              },
                storedUser: Object,
                formData: {
                    type: Object,
                    value: {}
                },
                balance:{
                  type: Number,
                  value:0
                },
                iban:{
                  type:String
                },
                transactions: {
                  type:Array,
                  value:[]
                },
                error:Object

            }



        }







        _visibleChanged(visible) {



            console.log('_visibleChanged ',visible)
            // Load page import on demand. Show 404 page if fails
            //console.log("_pageChanged: ",page)
            if (visible){
              this.$.getevents.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getevents.generateRequest()
              this.$.getbalance.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getbalance.generateRequest()

            }
          }



        _setReqBody() {
            console.log("_setReqBody")
            this.$.newTran.body = this.formData
            this.$.newTran.body.iban = this.iban
            this.$.newTran.body.latitude = this.$.latitude.value
            this.$.newTran.body.longitude = this.$.longitude.value
            this.$.newTran.body.date = new Date()
            console.log("Solicitado grabar: ",this.$.newTran.body)


        }


        showData (data){
          console.log("Show data ok: ", data.detail.response)

          console.log("Transacciones: ",data.detail.response);
          // this.balance = data.detail.response[0].balance
          // this.transactions = data.detail.response[0].events
          this.transactions = data.detail.response
          console.log('Objecto this.transactions: ',this.transactions)

        }

        showError (data){
          console.log("showError")

        }

        showBalance (data){
          console.log('este es el iban que tengo cargado',this.iban)
          console.log("Show balance ok: ", data.detail.response)
            if(data.detail.response != null){
              this.balance = data.detail.response.balance
              console.log("balance actualizado")
          }
          else{
            console.log("balance actualizado a 0")
            this.balance = 0;
          }

        }

        showErrorBalance (data){
          console.log("showError")

        }


      newTran (e){
        console.log(e.currentTarget.id)
        console.log("newTran")
        this._setReqBody();
        if (e.currentTarget.id == 'retirada'){
          this.$.newTran.body.tran = this.$.newTran.body.tran * -1
        }
        console.log('Esto es lo que se va a mandar: ',this.$.newTran.body)
        this.$.newTran.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.newTran.generateRequest();
      }


    handlenewTranResponse(event) {

        console.log("Evento creado!")
        var response = JSON.parse(event.detail.response);
        console.log("response handlenewTranResponse event", response)
        this.push('transactions',response)
        console.log("this.transactions actualizado ", this.transactions)
        this.$.getbalance.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getbalance.generateRequest()

        //this.set('route.path', '/event-detail');
        }



    handlenewTranError(event) {
        console.log("Error events: ",event)
        console.log(event.detail.request.xhr.response)
        this.error = event.detail.request.xhr.response;

    }

    }

    window.customElements.define(EventDetail.is, EventDetail);
  </script>
</dom-module> -->
