<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <div class="card">
      <h1><strong>¡Bienvenido a su banco!</strong></h1>
      Esperemos que disfrute de la experiencia.
    </div>
  </template>

  <script>
      class HomeApp extends Polymer.Element {
          static get is() { return 'home-app'; }

      }

      window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
