<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<dom-module id="log-out">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }
      paper-button {
        color: #fff;
      }
      paper-button.link {
        color: #fff;
        display: inline-block;
        font-size: 13px;
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
    </style>

    <iron-ajax
      id="registerLogoutAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleLogOutResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}">
    </iron-localstorage>



    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>


    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="indigo" on-tap="logout">Log Out [[[storedUser.user.first_name]]]</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-tap="logout">Log Out [[[storedUser.user.first_name]]]</paper-button>
    </template>
  </template>

  <script>


      (function() {
          class LogOut extends Polymer.Element {
              static get is() {
                  return 'log-out';
              }

              static get properties() {
                  return {
                      //storedUser: Object,
                      link: {
                          type: Boolean,
                          value: false
                      }
                  }
              }

              _setReqBody() {
                  this.$.registerLogoutAjax.body = this.storedUser;
              }


              logout() {
                console.log("logout")
                console.log("storeduser :",this.storedUser)
                //this.storedUser = null;
                this.$.registerLogoutAjax.url = 'http://127.0.0.1:3001/jagpapi/v1/sessions/delete';
                this.$.registerLogoutAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this._setReqBody();
                this.$.registerLogoutAjax.generateRequest();

              }

              handleLogOutResponse(event) {
                  this.storedUser = null;
                  console.log("todo borrado")
                  //this.set('route.path', '/home-app');
                  window.location.href = "/";
              }

              handleUserError(event) {
                  console.log('handleUserError: ',event)
                  this.error = event.detail.request.xhr.response;
              }





          }

          window.customElements.define(LogOut.is, LogOut);
      }());
  </script>
</dom-module>
