<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="shared-styles.html">

<dom-module id="panel-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }

    </style>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>



    <iron-ajax
      id="changeProfile"
      url = "http://localhost:3001/jagpapi/v1/users/{{storedUser.user.email}}/update"
      method="post"
      content-type="application/json"
      handle-as="text"
      loading="{{cargando}}"
      on-response="handleUserUpdate"
      on-error="handleUserError">
    </iron-ajax>

    <iron-ajax
      id="newAccount"
      url = "http://localhost:3001/jagpapi/v1/users/{{storedUser.user.email}}/update/account"
      method="post"
      handle-as="text"
      loading="{{cargando}}"
      on-response="handlenewAccountResponse"
      on-error="handlenewAccountError">
    </iron-ajax>


   <iron-ajax
      id="getUser"
      method="get"
      url="http://localhost:3001/jagpapi/v1/users/{{storedUser.user.email}}"
      handle-as="json"
      loading="{{cargando}}"
      on-error="handleUserError"
      on-response="showData">
    </iron-ajax>









    <app-location route="{{route}}"></app-location>

    <div class="card">
      <!-- <div id="unauthenticated" hidden$="[[storedUser.loggedin]]"> -->
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">




        <div hidden$="[[cargando]]">

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong> [[error.msg]]</strong></p>
          </template>

          <h1>Panel de control</h1>

          <p><strong>Cambie</strong> sus datos personales aquí</p>

          <!-- <p><strong>ATENCIÓN.</strong> Su sesión será cerrada una vez acepte los cambios</p> -->

          <paper-input-container>
            <label slot="input"></label>
            <iron-input slot="input" bind-value="{{formData.first_name}}">
            Nombre  <input class="input-style" id="first_name" type="text" value="{{formData.first_name}}" placeholder="{{formData.first_name}}">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label slot="input"></label>
            <iron-input slot="input" bind-value="{{formData.last_name}}">
            Apellidos  <input class="input-style" id="last_name" type="text" value="{{formData.last_name}}" placeholder="{{formData.last_name}}">
            </iron-input>
          </paper-input-container>



          <!-- <paper-input-container>
            <label slot="input"></label>
            <iron-input slot="input" bind-value="{{formData.email}}">
            Email  <input class="input-style" id="email" type="email" value="{{formData.email}}" placeholder="{{storedUser.user.email}}" required>
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label>Password</label>Password
            <iron-input slot="input" bind-value="{{formData.password}}">
            Password  <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
            </iron-input>
          </paper-input-container> -->

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="changeProfile">Aceptar</paper-button>
          </div>


            <!-- <h1>Cuentas </h1>
            <p><strong>Add</strong> your <strong>accounts</strong> here</p>
            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="addAccount">Add</paper-button>
            </div> -->





          <!-- <div id="unauthenticated" hidden$="[[storedUser.loggedin]]"> -->
          <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
            <h1>Sus cuentas</h1>

            Estas son sus cuentas<br>


            <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong> [[error.msg]]</strong></p>
            </template>


            <vaadin-grid theme="row-stripes" items="[[formData.accounts]]" column-reordering-allowed multi-sort>
            <vaadin-grid-column>
             <template class="header">
               <vaadin-grid-sorter path="iban">IBAN</vaadin-grid-sorter>
             </template>
             <template>[[item.iban]]€</template>
           </vaadin-grid-column>




          </vaadin-grid>

          <h1>Cree su nueva cuenta</h1>


            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="newAccount">Nueva Cuenta</paper-button>
            </div>


          </div>
        </div>

     </div> <!-- Div cargando -->

     <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>

      <div hidden$="[[storedUser.loggedin]]">
        <p>Debes estar <a href="/register-login">logado</a>para acceder al panel</p>
      </div>

    </div>
  </template>

  <script>
      class PanelUser extends Polymer.Element {
          static get is() { return 'panel-user'; }

          static get properties() {
              return {
                visible: {
                  type: Boolean,
                  observer: '_visibleChanged'
                },

                  formData: {
                      type: Object,
                      value:{}
                  },
                  error: Object
              }
          }





          _visibleChanged(visible) {
              if (visible){
                this.$.getUser.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
                this.$.getUser.generateRequest()
              }
            }

          _setReqBody() {
              console.log("_setReqBody")
              console.log("this.formdata: ", this.formData)
              this.$.changeProfile.body = this.formData;
          }



          changeProfile() {
               console.log('changeProfile')
               this._setReqBody();
               this.$.changeProfile.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
               this.$.changeProfile.body.email = this.storedUser.email
               this.$.changeProfile.generateRequest();
          }

          newAccount() {
               console.log('nueva cuenta')
               this.$.newAccount.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
               this.$.newAccount.generateRequest();
          }

          handlenewAccountResponse(event) {
            var response = event.detail.response;
            console.log('Respuesta de generación de cuenta',response)
            this.push('formData.accounts',{"iban":response})
            console.log('DEspues des push formdata.accounts:', this.get('formData.accounts'))

          }

          handlenewAccountError(event) {
              console.log("Error recuperando datos de usuario: ",event)
              console.log(event.detail.request.xhr.response)
              this.error = event.detail.request.xhr.response;
          }




          handleUserUpdate(event) {
              var response = JSON.parse(event.detail.response);
              console.log("respuesta de user parseada", response.user)




              if (response.id_token) {
                console.log("entro por aqui")
                  this.error = '';
                  this.storedUser = {
                      //name: this.formData.username,
                      id_token: response.id_token,
                      access_token: response.access_token,
                      user:response.user,
                      loggedin: true
                  };

              }


              console.log("cambios realizados: ",this.storedUser)
              //this.set('route.path', '/visor-account');
          }

          handleUserError(event) {
              console.log("Error recuperando datos de usuario: ",event)
              console.log(event.detail.request.xhr.response)
              this.error = event.detail.request.xhr.response;
          }

          showData(data){
            console.log('showData:', data.detail.response[0])


            this.formData = data.detail.response[0]
            //this.accounts = data.detail.response[0].accounts

            // //this.formData.email = response.email
            console.log('Datos cargados: ',this.formData)

          }


       }

      window.customElements.define(PanelUser.is, PanelUser);
  </script>
</dom-module>
