<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      loading="{{cargando}}"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
        <paper-spinner alt="Cargando sus cuentas..." active="[[cargando]]"></paper-spinner>
        <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">


            <h1>Log In</h1>

            <p><strong>Log in</strong> to access my App!</p>

            <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong>Error:</strong> [[error]]</p>
            </template>

            <!-- <paper-input-container>
              <label slot="input">Email</label>
               <iron-input slot="input" bind-value="{{formData.email}}">
                <input class="input-style" id="email" type="email" value="{{formData.email}}" placeholder="Email" required>
                <paper-input class="input-style" id="email" type="email" label:"email" value="{{formData.email}}" placeholder="Email" required>
              </iron-input>
            </paper-input-container> -->

                <paper-input id="email" type="email" label="example@email.com" value="{{formData.email}}" placeholder="Email" min="4" auto-validate required></paper-input>
                <paper-input id="password" type="password"  value="{{formData.password}}" placeholder="Your Password" required></paper-input>


            <!-- <paper-input-container>
              <label>Password</label>
              <iron-input slot="input" bind-value="{{formData.password}}">
                <input id="password" type="password" value="{{formData.password}}" placeholder="Password" required>
              </iron-input>
            </paper-input-container> -->

              <!-- <div class="wrapper-btns"> -->
                <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
                <!-- <paper-button class="link" on-tap="postRegister">Sign Up</paper-button> -->
              <!-- </div> -->


        </div>











      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.first_name]]!</h2>
        <p>Ya estás logado. Puedes acceder a tus <a href="/visor-account">cuentas</a>!</p>
      </div>
    </div>
  </template>

  <script>
      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {
                visible: {
                  type: Boolean,
                  observer: '_visibleChanged'
                },
                  formData: {
                      type: Object,
                      value: {}

                  },
                  //storedUser: Object,
                  error: String
              }
          }

          _visibleChanged(visible) {
              console.log('_visibleChanged ',visible)
              // Load page import on demand. Show 404 page if fails
              //console.log("_pageChanged: ",page)
              if (visible){

                this.dispatchEvent(new CustomEvent('change-section', {
                  bubbles: true, composed: true, detail: {title: 'Register-Login'}}));
              }
            }


          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
              console.log("formData", this.formData)
          }

          postLogin() {
              console.log("postLogin")
              this.$.registerLoginAjax.url = 'http://127.0.0.1:3001/jagpapi/v1/sessions/create';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }



          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              console.log("response handleUserResponse login", response.user)

              if (response.id_token) {
                  this.error = '';
                  this.storedUser = {
                      //name: this.formData.,
                      id_token: response.id_token,
                      access_token: response.access_token,
                      user:response.user,
                      loggedin: true
                  };
                  console.log('RegisterLogin StoredUser: ', this.storedUser)
                  this.set('route.path', '/visor-account');
              }

              // reset form data
              this.formData = {};
          }

          handleUserError(event) {
              console.log("Error login: ",event)
              this.error = event.detail.request.xhr.response;
          }

      }

      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
