<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="sign-up">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }


    </style>

    <iron-ajax
      id="signUpAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Registro</h1>

        <p> Aproveche ahora las ventajas y regístrese <p>
        <p> Se generará una <strong>cuenta totalmente gratis!</strong></p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.first_name}}">
            <input class="input-style" id="first_name" type="text" value="{{formData.first_name}}" placeholder="Nombre">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Apellidos</label>
          <iron-input slot="input" bind-value="{{formData.last_name}}">
            <input class="input-style" id="last_name" type="text" value="{{formData.last_name}}" placeholder="Apellidos">
          </iron-input>
        </paper-input-container>

        <!-- <paper-input-container>
          <label slot="input"></label>
          <iron-input slot="input" bind-value="{{formData.born}}">
            <input class="input-style" id="born" type="date" value="{{formData.born}}" min="1900-01-01">
          </iron-input>
        </paper-input-container> -->


        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input auto-validate validator="emailCheck" slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="email" pattern=".+@bbva.com" value="{{formData.email}}" placeholder="Email" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postRegister">Registro</paper-button>
          <!-- <paper-button class="link" on-tap="postRegister">Sign Up</paper-button> -->
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.first_name]]!</h2>
        <p>Ya estás logado. Puedes acceder directamente a <a href="/visor-account">Movimientos</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class SignUp extends Polymer.Element {
          static get is() { return 'sign-up'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              console.log("_setReqBody")
              console.log("this.formdata: ", this.formData)
              this.$.signUpAjax.body = this.formData;
          }


          postRegister() {
              console.log('PostRegister')
               this.$.signUpAjax.url = 'http://localhost:3001/jagpapi/v1/users/create';
               this._setReqBody();
               this.$.signUpAjax.generateRequest();
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              console.log("response handleUserResponse signup", response)

              if (response.id_token) {
                  this.error = '';
                  this.storedUser = {
                      //name: this.formData.username,
                      id_token: response.id_token,
                      access_token: response.access_token,
                      user:response.user,
                      loggedin: true
                  };
                  console.log('Sign Up StoredUser: ', this.storedUser)
                  // redirect to Visor account
                  this.set('route.path', '/visor-account');
              }

              // reset form data
              this.formData = {};
          }

          handleUserError(event) {
              this.error = event.detail.request.xhr.response;
          }

          emailCheck(e){
            console.log('check email')
          }
      }

      window.customElements.define(SignUp.is, SignUp);
  </script>
</dom-module>
