<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="shared-styles.html">

<dom-module id="visor-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}" readonly></brum-global-variable>

    <iron-ajax
            id="getaccount"
            method="get"
            url="http://localhost:3001/jagpapi/v1/users/{{storedUser.user.email}}/accounts"
            handle-as="json"
            loading="{{cargando}}"
            on-response="showData"
            on-error="showError">

    </iron-ajax>


    <iron-ajax
      id="getEvents"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="handleEventsResponse"
      on-error="handleEventsError">
    </iron-ajax>


    <app-location route='{{route}}'></app-location>


    <!-- last-response="{{secretQuote}}"> -->

    <div hidden$="[[!storedUser.loggedin]]">
      <div hidden$="[[cargando]]">
        <div class="card">
          <h1>Sus cuentas personales</h1>

          <!-- <blockquote>[[secretQuote]]</blockquote> -->
          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>



          <template is="dom-repeat" items="{{accounts}}">
            <!-- <a href="/details-account"><strong>{{item.balance}}</strong></a> -->
            <button on-click="sendEvent" id="iban" value="{{item.iban}}">{{item.iban}}</button> -
            <!-- <paper-button id ="event" raised class="primary" on-tap="detailsAccount" data-args="{{item.iban}}"> -->

            <br>




            <!-- <select>
              <option value="{{item.iban}}">{{item.iban}}-{{iten.balance}}</option>
            </select> -->

          </template>


          <!-- <paper-button class="primary" raised on-tap="getSecretQuote">Get a New Secret Quote</paper-button> -->

          <template is="dom-if" if="{{events}}">

            <template is="dom-repeat" items="{{events}}">
              <table>
                <tr>
                <td>{{item.event}} </td>
                <td>{{item.date}} </td>
              </tr>
              </table>
            </template>

          </template>




        </div>
      </div>

      <paper-spinner alt="Cargando sus cuentas..." active="[[cargando]]"></paper-spinner><br>

    </div>














    <div hidden$="[[storedUser.loggedin]]">
      <p>Debes estar <a href="/register-login">logado</a>para acceder ver tus cuentas</p>
    </div>
  </template>

  <script>
    class VisorAccount extends Polymer.Element {
        static get is() { return 'visor-account'; }

        static get properties() {
            return {
              visible: {
                type: Boolean,
                observer: '_visibleChanged'
              },
                // storedUser: Object,
                accounts : Object,
                events: Object,
                dataId: {
                  type:String}

            };
        }



        _visibleChanged(visible) {
            console.log('_visibleChanged ',visible)
            // Load page import on demand. Show 404 page if fails
            //console.log("_pageChanged: ",page)
            if (visible){
              this.$.getaccount.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
              this.$.getaccount.generateRequest()
            }
          }

        showData (data){
          console.log("showData");
          console.log(data.detail.response)
          this.accounts = data.detail.response[0].accounts;
          console.log("this.accounts: ",this.accounts)

      }

      showError (data){
        console.log(data.detail.response)
      }

      detailEvents(e) {
            console.log("detailsAccount")
            console.log(e)

            this.dataId = e.target.value
            console.log('this dataId: ',this.dataId)
            this.set('route.path', '/event-detail/'+e.target.value)



      }

    handleEventsResponse(e) {

        console.log("llamada ok!")
        console.log(e)
        console.log("que objeto es: ",typeof e.detail.response)
        var response = JSON.parse(e.detail.response);
        console.log("response handleEventsResponse event", response[0])
        this.events = response[0].events;
        //this.set('route.path', '/event-detail');
        }



    handleEventsError(e) {
        console.log("Error events: ",e)
        console.log(e.detail.request.xhr.response)
        this.error = e.detail.request.xhr.response;

    }


    sendEvent(e){
          console.log("sendEvent: ", e.target.value)

          this.dispatchEvent(
            new CustomEvent(
              "myevent",
                {
                  "detail":{
                    "dataId" : e.target.value
                  }
                }
            )
          );

        }

  }
    window.customElements.define(VisorAccount.is, VisorAccount);

  </script>
</dom-module>
